body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background:#dfe1e2 ;
    background-position:12%, 83%;
    padding: 4em;
}
h2 {
    color:#307D99;
    text-align: center;
    animation-name: changeSize;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: linear;
    transition-timing-function: ease-in;
}
@keyframes changeSize {
    from { font-size: smaller; }
    to { font-size: larger; }
}
form label {
    text-align: left; font-style: italic;
}
form label1 {
    text-align: left;
    color:#307D99; font-weight: bold;
}
form div {
    margin-top: 8px;
}
.container {
    width: 65%;
    padding: 20px;
    border: 2px #307D99 solid;
    border-radius: 10px;
    box-shadow: 5px 5px gray;
}
.container label {
    display: inline-block;
    width: 180px;
}
.container form {
    margin: 30px;
}
.container input {
    width: 60%;
}
.container select {
    width: 61%;
}
div span {
    margin-left:2px;
    font-size: 10px;
    font-style: italic;
}
div input[value="Get Quote"] {
    border: 2px green solid;
    border-radius: 5px;
}
div input[value="Save Quote"] {
    border: 2px #307D99 solid;
    border-radius: 5px;
    margin-left: 100;
}
div ::placeholder {
    font-size: 9px;
}
#changeColor1:hover {
    background-color: #F89104;
    color: lightcyan;
    border-radius: 5px;
}
#changeColor2:hover {
    background-color: green;
    color: lightcyan;
    border-radius: 5px;
}
#changeColor3:hover {
    background-color: #307D99;
    color: lightcyan;
    border-radius: 5px;
}
.hello {
    position:fixed;
    right:10px;
    top:0px;
}
.profile{
    position:fixed;
    right:10px;
    top:40px;
    border: 2px #307D99 solid;
    border-radius: 5px;
 }
.logout{
    position:fixed;
    right:10px;
    top:70px;
    border: 2px #F89104 solid;
    border-radius: 5px;
 }

.wrapper {
    height: 200px;
    overflow-x: auto;
    width: 77%;
    margin-top: 30px;
    margin-right: 80px;
    border-color: black;
}
th {
    text-align: center;
    background-color: #307D99;
    color: white;
    position: sticky;
    top: 0;
    font-size: 12px;
    padding-left: 1em;
    padding-right: 1em;
}
td {
    font-size: 12px;
    width: auto;
}
div caption {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-weight: bold; 
    background-color:  #dfe1e2;
    margin-top: -80px;
    padding-bottom: 5px;
    display: table-header-group;
 }
 tr {
     height: 30px;
     width: 900px;
     color: black;
 }
 tr:nth-child(even) {
    background-color: lightcyan;
 }
 tr:nth-child(odd) {
    background-color: white;
 }