<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
     
    <div class = "hero-account">
        <section class = "top">
            <header>
                <a href="/home">Go Back to Homepage</a> 
                
            </header>
            <h4> Creat New account:</h4>
            
            <div class="form-account">
                <form action="">
                    <div class="form-info">
                      <label for="name"> Enter Full Name:</label>
                      <input type="text2" name= "fullname" id = "fullname">
                       
                      <label for="Email"> Enter E-mail address:</label>
                      <input type="text2" name= "email" id = "email">

                      <label for="Phone"> Enter Phone Number:</label>
                      <input type="text2" name= "phone" id = "phone">

                      <label for="password"> Enter Password:</label>
                      <input type="text2" name= "password" id = "password">
                      <h5> </h5>
                      <input type="button2" onclick="window.location.href='/home/createprofile';" value="Sign-up" id = "cta-ac">
                    </div>
                    
                   
                </form>
             </div>
      
    </div>
</body>
</html>
