<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
     
    <div class = "hero-account">
        <section class = "top">
            <header>
                <a href="/home">Go Back to Homepage</a> 
            
            </header>
            <h4> Creat New account:</h4>
            {% with messages = get_flashed_messages(with_categories=true) %} {% if
                messages %} {% for category, message in messages %} {% if category ==
                'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endif %} {% endfor %}  {% endif %} {% endwith %}
            <div class="form-account">
                <form method = "POST">
                    <div class="form-info">
                      <label for="name"> Enter Full Name:</label>
                      <input type="text2" name= "fullname" id = "fullname">
                       
                      <label for="Email"> Enter E-mail address:</label>
                      <input type="text2" name= "email" id = "email">

                      <label for="Password1"> Enter Password:</label>
                      <input type="text2" name= "password1" id = "password1">

                      <label for="password2"> Confirm Password:</label>
                      <input type="text2" name= "password2" id = "password2">
                      <h5> </h5>
                      <input type="submit"  value="Sign up " id="cta-btn">
                    </div>
                    
                   
                </form>
             </div>
      
    </div>
</body>
</html>
