<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
</head>
<body>
         <div class = "hero-account">
        <section class = "top">
          <header> 
          <button href="/home" onclick="window.location.href='/home';"type="button" class="button">
            <span class="button__text">Log out</span>
            <span class="button__icon">
              <ion-icon name="log-out-outline"></ion-icon>
            </span>
          </button>
          </header>
      
            <h4> Welcome back, Manuel Flores!</h4>
            
            <div class="form-account">
                  <label1> Full Name</label1>
                      <label> Manuel Flores</label>
              
                  <label1> E-mail Address</label1>
                      <label> fuel123@gmail.com</label>
              
                  <label1> Phone Number</label1>
                      <label> 123-456-7890</label>
              
              <label1> Address</label1>
                      <label> 123 Fuel St.</label>
              
                  <label1> City</label1>
                      <label> Houston</label>
              
                  <label1> Zip Code</label1>
                      <label> 77346</label>
              <input type="button2" onclick="window.location.href='/home/getquote';" value="  Get Your Quote Today! " id="cta-btn">
                    </div>
  <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
